{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
	<div class="col-12 d-none d-sm-block">
		<h3><strong>Add Notification</strong></h3>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Library</a></li>
				<li class="breadcrumb-item active">Data</li>
			</ol>
		</nav>
	</div>
	<div class="row">
		<div class="col-12 col-xl-12">
			<div class="card">
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						<div class="row">
							<div class="mb-3 col-md-6">
								<label class="form-label">Date:</label>
								{{form.date_notif}}
							</div>
							<div class="mb-3 col-md-6">
								<label class="form-label">Time:</label>
								{{form.time_notif}}
							</div>
							<div class="mb-3 col-md-8">
								<label class="form-label">Client:</label>
								{{formClientDrop.nama_client}}
							</div>
							<div class="mb-3 col-md-8">
								<label class="form-label">Product:</label>
								{{formProdukDrop.nama_produk}}
							</div>
							<div class="mb-3 col-md-8">
								<label class="form-label">Text:</label>
								{{form.text_notif}}
							</div>
							<div class="mb-3 col-md-8">
								<div class="form-label">Send to:</div>
								<div class="input-group d-flex gap-3">
									<div class="d-flex align-content-center col-md-6">
										<div class="input-group-text bg-transparent" style="border: none;">
											{{form.checkbox_email}}
										</div>
										{{form.to_who}}
									</div>
									<div class="d-flex align-content-center col-md-5">
										<div class="input-group-text bg-transparent" style="border: none;">
											{{form.checkbox_sms}}
										</div>
										{{form.to_sms}}
									</div>
								</div>
							</div>						
							<div class="mb-3">
								<label class="form-check m-0">
									<input type="checkbox" class="form-check-input">
									<span class="form-check-label">Repeat this notification</span>
								</label>
							</div>
							<div class="mb-3 col-md-8">
								<div class="border p-3 rounded">
									<div class="form-check form-switch form-check-reverse d-flex justify-content-between">
										<label class="form-check-label" for="flexSwitchCheckDefault">Status</label>
										<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
									</div>
								</div>
							</div>
						</div>
						<div class="mb-3 col-md-2 d-flex gap-3">
							<button class="btn btn-outline-success" id="btn-cancel">Cancel</button>
							<button class="btn btn-success" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block body_lib %}
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{% static 'js/custom-settings.js' %}"></script>
{% endblock body_lib %}