{% extends 'layouts/base.html' %}
{% load static %}

{% block head_lib %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head_lib %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="col-12 d-none d-sm-block">
            <h3><strong>Add Invoice</strong></h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="fs-3 text-dark fw-bolder">Send Invoice To</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3 col-md-8">
                                <label class="form-label">Nama Client:</label>
                                {{ form.client }}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Email:</label>
                                <input type="text" class="form-control" value="" disabled />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">No. Telp(WA):</label>
                                <input type="text" class="form-control" value="test" disabled/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-label">Send via:</div>
                                <div class="d-flex gap-3">
                                    <div class="input-group d-flex gap-3">
                                        <div class="d-flex align-content-center col-md-6">
                                            <label class="form-check m-0">
                                                <input type="checkbox" class="form-check-input">
                                                <span class="form-check-label">Email</span>
                                            </label>
                                        </div>
                                        <div class="d-flex align-content-center col-md-5">
                                            <label class="form-check m-0">
                                                <input type="checkbox" class="form-check-input">
                                                <span class="form-check-label">Whatsapp</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="input-group mb-3">
                                    <label for="invoice" class="form-label">Dokumen Invoice:
                                        <input type="file" class="form-control" id="invoice">
                                    </label>
                                </div>                                  
                            </div>
                            <div class="mb-3 col-md-8">
                                <label class="form-label">Text:</label>
								<textarea class="form-control" placeholder="*Dear Admin, it's invoice time for...." rows="3"></textarea>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="d-flex gap-2">
                                    <button class="btn btn-outline-success" id="btn-cancel">Cancel</button>
                                    <button class="btn btn-warning" id="btn-previous">Previous</button>
                                    <button class="btn btn-main" id="btn-send">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_lib %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/send-invoices.js' %}"></script>
{% endblock body_lib %}