{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 d-none d-sm-block">
                <h3><strong>Profile</strong></h3>
                <hr style="border: 2px solid #1e8a97;">
            </div>
            <div class="mb-3 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4><strong>Avatar</strong></h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="mb-3 col-md-8">
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if imageku.imageProfil %}
                                        <img src="{{ imageku.imageProfil.url }}" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                                        {% endif %}
                                        <div id="trigger-container" class="col-md-4 d-flex gap-3">
                                            <a href="{% url 'profil_edit' pk=user.pk%}" class=" btn btn-success">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="{{user.username}}" disabled/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="full-name" placeholder="{{user.first_name}} {{user.last_name}}" disabled/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" id="position" placeholder="{{user.email}}" disabled/>
                                </div>
                                
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Nama Depan</label>
                                    <input type="text" class="form-control" id="email" placeholder="{{user.first_name}}" disabled/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Nama Belakang</label>
                                    <input type="text" class="form-control" id="no-telp" placeholder="{{user.last_name}}" disabled/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">No. Telp(WA)</label>
                                    <input type="text" class="form-control" id="no-telp" placeholder="{{imageku.no_wa}}" disabled/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_lib %}
    <script src="{% static 'js/custom-profile.js' %}"></script>
{% endblock body_lib %}